.sticky-add-to-cart {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-top: 1px solid #e1e1e1;
  display: none;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
}
/* Estilo de la notificación */
.spinner {
  border: 3px solid var(--color-bg-light); /* Color de fondo del spinner */
  border-top: 3px solid var(--color-primary); /* Color del spinner */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite; /* Animación */
  display: inline-block; /* Permitir el control de visualización */
}

/* Animación de giro */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Estilo de la notificación */
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white; /* Cambia esto si deseas usar una variable de color del esquema */
  padding: 10px;
  border-radius: 5px;
  display: none; /* Oculto por defecto */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

@media screen and (max-width: 750px) {
  .sticky-image {
    display: none;
  }
  .main-info h3 {
    display: none;
  }
  .main-info {
    margin-right: 0px !important;
  }
  #stickyAddButton {
    width: 100%;
  }
}
.sticky-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
}

.sticky-image {
  width: 50px;
  height: auto;
}
.main-info {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
.main-info h3 {
  margin: 0;
}
.sticky-info {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sticky-price {
  font-size: 16px;
  color: #333;
}

.discounted-price {
  color: rgb(var(--color-foreground));
  font-weight: bold;
  margin-right: 5px;
}

.original-price {
  text-decoration: line-through;
  color: #aaa;
}

#stickyVariantSelect {
  margin: 10px 0;
  padding: 0.5rem 1rem;
  border-radius: var(--buttons-radius);
}

#stickyAddButton {
  background-color: rgb(var(--color-foreground));
  color: #fff;
  border: none;
  border-radius: var(--buttons-radius);
  cursor: pointer;
  padding: 10px 15px;
}

#stickyAddButton p {
  margin: 0;
}
#stickyAddButton:hover {
  opacity: 0.5;
}
